# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environment
.venv/
env/
venv/

# Django / DB
db.sqlite3
*.sqlite3
media/
staticfiles/

# Logs
*.log

# IDE / Editor
.vscode/
.idea/
*.iml

# Node / Frontend
node_modules/
dist/
build/

# OS files
.DS_Store
Thumbs.db

